@import url('./assets/plugins/bootstrap/css/bootstrap.min.css'); 
@import url('./assets/plugins/select_bootstrap/css/bootstrap-select.css');
@import url('./assets/plugins/datatable/css/datatables.min.css');
@import url('./assets/plugins/coreui/css/style.css');
@import url('./assets/plugins/coreui/css/buttons.css');
@import url('./assets/plugins/pace/css/pace.min.css');
@import url('./assets/font/font_awesome_5/css/all.css'); 
@import url('./assets/css/custom.css');

/* Page Loader ================================= */
.page-loader-wrapper,
.lodr-overlay {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  overflow: hidden;
  text-align: center;
}
.page-loader-wrapper p {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
  color: #444;
}
.page-loader-wrapper .loader,
.gif-loader {
  position: relative;
  top: calc(50% - 30px);
}

.lodr-overlay {
  background: rgba(0, 0, 0, 0.4) !important;
}
.lodr-overlay p {
  color: #fff;
}

.show-segment{
  display:block;
}

.hide-segment{
  display:none;
}

.pointer-cursor{
  cursor: pointer;
}
.pointer-cursor td:nth-child(2) {
  text-align: left;
}
tr.pointer-cursor i.fas.fa-info-circle {
  font-size: 20px;
  color: #15adee;
}
.sortcut_area ul li {
  width: 25%;
  margin-bottom: 17px;
  text-align: center;
}
i.fas.fa-folder {
  margin: 0 10px 0 0;
}
i.fas.fa-trash-alt {
  margin: 0 6px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  overflow-wrap: break-word;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  overflow-wrap: break-word;
}